name: soundwave-discord-music-bot

services:
  discord-bot:
    container_name: soundwave-discord-music-bot
    build: .
    restart: unless-stopped
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    volumes:
      - ./youtube-data:/app/youtube-data